// color vars
// // basic
$color-orange = #fc9153
$color-regular-blue = #4a4c5b
$color-background = #373d41
$color-background-l = #333744
$color-white = #fff
// // 悬浮颜色
$color-hover-black = #2a2f32
// 颜色定义规范
// // 主基调
$color-main = #0289fb
$color-main-ll = #35495e
$color-main-l = #f4f5f7
$color-main-d = #0069d9
// // gray
$color-dark-grey = #333
$color-grey = #666
$color-grey-l = #888
$color-light-grey = #999
$color-light-grey-s = #ccc
$color-light-grey-ss = #eee
$color-light-grey-sss = #fcfcfc
$color-active-grey = #e8e8e8
$color-border = #eee
$color-dark-grey-opacity = rgba(74, 76, 91, 0.8)
$color-grey-opacity = rgba(0, 0, 0, 0.08)
$color-light-grey-opacity = rgba(0, 0, 0, 0.04)
// // orange
$color-dark-orange = #e8864c
$color-light-orange = #fdc2a5
$color-orange-opacity = rgba(252, 145, 83, 0.08)
$color-light-orange-opacity = rgba(252, 145, 83, 0.04)
// // blue
$color-blue = #444654
// // row line
$color-line = #eee
// $color-row-line = #eee
// // column line
// $color-col-line = #eee

// / mask background
$color-mask-bg = rgba(37, 38, 45, 0.4)
// / red
$color-red = #ff504c
// / green
$color-green = #5eb95e
// / blue
$color-blue = #409eff