@charset 'utf-8'@require './basic'
.content
  width 1200px
  margin 0 auto
.link-a
  color #0289fb
.link-a:hover
  color #1e9fff
.btn
  border-radius 0.1rem
.btn-primary
  background #0289fb
  border-color #0289fb
  color #fff
  &:hover
    opacity 0.8
    border-color #0289fb
    background #0289fb
.btn-outline-primary
  border-color #0289fb
  color #0289fb
  &:hover
    opacity 0.8
    background none
    border-color #0289fb
    color #0289fb
.text-666
  color #666666
.text-333
  color #333333
.text-green
  color #66c906
.text-blue
  color #007ce5
.text-yellow
  color #ff9000
.btn-danger
  background #dd514c
  border-color #dd514c
.zhd-table
  width 100%
  margin-top 0px
  border none
  color #333
.table-striped tbody tr:nth-of-type(odd)
  background #ffffff
.table th, .table td
  border-top 1px solid #dddddd
.main-list-table-tooltip
  .arrow
    left 88% !important
  .arrow:before
    border-top-color #666 !important
  .tooltip-inner
    background-color #666666 !important
.btn-secondary:focus, .btn-secondary.focus
  box-shadow none
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus
  box-shadow none
.input-num
  .btn
    padding 0 5px
    background #eee
    border-color #eee
    color #2a6496
  .input-group-prepend
    margin-right 0px
  input
    height 28px
    padding 2px
    text-align center
.zhd-btn
  background #0289fb
.zhd-btn, .zhd-btn2
  display inline-block
  font-family '微软雅黑', '宋体', arial
  height 38px
  line-height 38px
  padding 0 18px
  color #fff
  white-space nowrap
  text-align center
  font-size 14px
  border none
  cursor pointer
  -moz-border-radius 2px
  -webkit-border-radius 2px
  border-radius 2px
  &:hover
    opacity 0.8
    color #fff
    color none
    background-color none
    border-color none
.zhd-btn-sm
  height 30px
  line-height 30px
  padding 0 10px
  font-size 12px
.zhd-btn-abs
  width 60px !important
  padding 0 5px !important
.zhd-btn-lg
  height 44px
  line-height 44px
  padding 0 25px
  font-size 16px
.zhd-btn-warning
  background #f37b1d
  &:hover
    background #f37b1d
.zhd-btn-danger
  background #dd514c
.zhd-btn-disabled
  border 1px solid #e2e2e2
  background-color #f6f6f6
  color #bbb !important
  cursor not-allowed
  opacity 1
.btn-outline-secondary:hover
  color none !important
  background-color none !important
  border-color none !important
.line-height-30
  line-height 30px
.line-height-25
  line-height 25px
.line-height-20
  line-height 20px
.zhd-text-warning
  color #f37b1d !important
.text-999
  color #999
.text-blue
  color #428bca
input.custom-select
  outline medium
.custom-select:focus
  border-color #ced4da
  box-shadow 0 0 0 0
.zhd-text-main
  color #0289fb !important
.zhd-btn-warning
  background #f37b1d
.zhd-btn-warning-border
  border 1px #f37b1d solid
.btn-circle
  -moz-border-radius 100px
  -webkit-border-radius 100px
  border-radius 100px
.basic-table-selected
  width 50px
.basic-table-option
  width 150px
.custom-control-label::after, .custom-control-label::before
  top 5px
.main-content
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus
    border 2px solid transparent
  .nav-tabs .nav-link
    border 2px solid transparent
    font-size 16px
    padding 0 20px
    height 52px
    line-height 50px
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link
    color #0289fb
    border 2px solid transparent
    border-bottom 2px solid #0289fb
  .nav-tabs a
    color #333
.zhd-input
  height 38px
  line-height 1.3
  line-height 38px \9
  border 1px solid #e2e2e2
  background-color #fff
  border-radius 2px
  width 100%
  text-indent 10px
  font-size 14px
.zhd-btn-normal
  background #009688
.zhd-tishi
  background #fef7e7
  padding 5px
.zhd-right-main
  padding 15px
  margin-top 10px
  background #fff
.zhd-btn-default
  border 1px solid #ddd
  background-color #fff
  color #666 !important